$mint: #7ee3c5;
$red: #da291c;
$black: #1f1e21;
$light-red: #e56960;
$petrol: #4DA0AE;

@font-face {
    font-family: TradeGothicNextLTPro;
    src: url(../assets/fonts/tradegothicnextltpro-rg.woff2);
    font-weight: 300 600;
}
@font-face {
    font-family: TradeGothicNextLTPro;
    src: url(../assets/fonts/tradegothicnextltpro-bd.woff2);
    font-weight: 600 800;
}
@font-face {
    font-family: TradeGothicNextLTPro;
    src: url(../assets/fonts/tradegothicnextltpro-lt.woff2);
    font-weight: 100 200;
}
@font-face {
    font-family: FFGoodWebProCompressed;
    src: url(../assets/fonts/ffgoodwebprocompressedultra.woff2);
    font-weight: bold;
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: FFGoodWebProCompressed;
    font-weight: 900;
    padding: 0;
    text-transform: capitalize;
    line-height: .9em;
    margin: 0;
}

p{
    font-family: TradeGothicNextLTPro;
    margin: 0;

}

.strpies-container{
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: #1f1e21;
    text-align: center;
    vertical-align: middle;
    background-color: #47d7ac;
    border: 2px solid transparent;
    font-size: 1.0625rem;
    line-height: 1.6;
    border-radius: 0;
    height: 54px;
    width: 170px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    p {
        margin: 10px 0;
    }
}

.svg-stripes{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    fill: #fff;
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
}

nav{
    padding: 10px 0;
    .logo{
        display: block;
        margin: auto;
        width: 220px;
        svg{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}

/* Circle Animations */
.path {
    stroke-dasharray: 252;
    stroke-dashoffset: 252;
}

@media (prefers-reduced-motion: no-preference) {
    .path-animation{
        animation: dash 1s linear forwards;
        animation-delay: 0.5s;
    }
}
@keyframes dash {
    from{
        stroke-dashoffset: 252;
    }
    to {
        stroke-dashoffset: 0;
    }
}



main{
    .container{
        max-width: 1350px;
        padding: 50px 0;
        margin-right: auto;
        margin-left: auto;
    }
    .hero{
        background-color: $mint;
        p{
            color: white;
            font-size: 1.25rem;
        }
        h1{
            color: white;
            font-size: 80px;
            letter-spacing: .02em;
            span{
                font-style: normal;
                -webkit-text-stroke: 1.5px;
                -webkit-text-fill-color: transparent;
            }
        }
        img{
            width: 70%;
        }
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        .img-container{
            margin-left: 10%;
            flex: 0 0 80%;
            max-width: 80%;
        }
        .text-container{
            margin-top: 20px;
            margin-left: 10%;
            flex: 0 0 80%;
            max-width: 80%;
        }
    }

    /* Numbers With Circles */
    .numbers{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 20px;
        .circle-container{
            position: relative;
        }
        .circle-number{
            font-family: TradeGothicNextLTPro;
            font-weight: bold;
            font-size: 1.8em;
            color: $red;
        }
        .circle-text{
            padding-left: 10px;
            font-weight: bold;
            letter-spacing: 0.8;
            font-size: 1.6em;
            color: $red;
            place-self: center;
        }
    }

    .brand{
        .brand-img{
            background-image: url(https://fishermansfriend.com/media/pages/home/fdb3d7dec3-1640267032/guys-600x600-crop-50-50.jpg);
            background-position: 50% 50%;
            padding-top: 4vh;
            padding-left: 10vw;
            padding: 10vw 4vh;
            background-size: cover;
        }
        h1{
            color: white;
            font-size: 18vw;
            letter-spacing: 0;
        }
        .stripes-grid{
            display: grid; 
            grid-template-columns: 1fr 1.5fr;
        }
        .stripes{
            background-image: repeating-linear-gradient(135deg,transparent,transparent 2.3125em,#fff 0,#fff 4.625em);
            background-color: $light-red;
            display: block;
            width: 100%;
            height: 30vw;
            margin-top: -8vw;
        }
        .stripes-container{
            position: relative;
        }
        .text-grid{
            display: grid;
            grid-template-columns: 3fr 1fr;
            margin-top: -22vw;
            .text{
                padding-top: 3vh;
                padding-left: 10vw;
                color: $black;
                background-color: white;
                h4{
                    color: $black;
                    font-size: 3rem;
                }
                p{
                    
                    margin-top: 1.5em;
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 1.6;
                }
            }
        }
        
    }

    .products{
        .scrolling-wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            background: $petrol;
            .card {
              display: inline-block;
            }
            .container{
                width: 70vw;
                margin: 0 10vw;
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    /* main{
        .hero{
            img{
                width: 70%;
            }
        }
        .flex-container{
            .img-container{
                flex: 0 0 45%;
                max-width: 45%;
            }
            .text-container{
                flex: 0 0 45%;
                max-width: 45%;
            }
        }
    } */
}


